<div class="head" align="center" style="padding-left: 80px;">
    <nav class="navbar navbar-expand-md navbar-dark bgnav">
        <a class="navbar-brand" href="#"><i class="fas fa-blog"></i> BlogHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink='/list' routerLinkActive='active' class="white nav-link">Blogs List</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/create' routerLinkActive='active' class="white nav-link">Add Blogs</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/login' class="white nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/register' class="white nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/logout' (click)='us.logout()' class="white nav-link">Logout</a>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>

    </nav>
</div>