<div id='head' class='container' style="padding-left: 60px;">
    <h1 class='h1'>Blogs Available</h1>
    <div *ngIf='blogs.length >0'>
        <div *ngFor='let blog of blogs'>
            <app-blog [blog]='blog'></app-blog>
            <div class="alnlft">
                <button class="btn btn-outline-primary" (click)="onselect(blog)" [class.selected]='isselected(blog)'>Read</button><span style="margin-left: 10px;"></span>
                <button class="btn btn-outline-primary" (click)="delete(blog)">Delete</button><span style="margin-left: 10px;"></span>
                <button class="btn btn-outline-primary" (click)="edit(blog)">Edit</button>
            </div>
        </div>
    </div>
</div>