<div class="card card-block container text-center">
    <h4 class="card-title">Login</h4>
    <div *ngIf='isError'>
      {{errMessage}}
    </div>
    <form #userform='ngForm' (ngSubmit)='login()'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Email" required
        [(ngModel)]='user.email' name='email'/>
      </div>
      <div class="form-group"> 
        <input type="password" class="form-control" placeholder="Enter Password"
        [(ngModel)]='user.password' name='password' required/>
      </div>
        <button type="submit" class="btn btn-secondary"
      [disabled]='userform.form.invalid'>Login</button>
    </form>
  </div>