<div style="padding-top: 30px; padding-left: 110px;">
    <h1>Blog Details</h1>
    <h3>{{id}}</h3>
    <!-- <div class="links">
    <a (click)="prev()">Previous</a>
    <a (click)="next()">Next</a>
</div> -->
    <div class="blinks">
        <a (click)="back()">Back</a>
    </div>
</div>