.container{
    margin-top: 40px;
    background-color: rgb(123,20,95);
    color:white;
    padding:40px;}
    h3{
    text-align: center;
    font-family: cursive;}
    p{font-size: 20px;}
    p::first-letter{
    font-family: cursive;}
    a{
    background-color: white;
    color: rgb(123,20,95) !important;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: bold;
    margin-right: 30px;}
    .links{
    margin-top: 20px;
    text-align: center;
    }
    .blinks{
    margin-top: 40px;
    }
    
    