<div class="head" align="center">
    <div class="card card-block container text-center">

        <h4 class="card-title"><i class="fas fa-blog"></i> Create Blog</h4>

        <form #blogform='ngForm' (ngSubmit)='onSubmit()'>
            <div class="form-group" align="center">
                <input type="text" class="form-control" placeholder="Enter the title" required [(ngModel)]='blog.title' name='title' #title='ngModel' pattern="^[A-Za-z\s]+$" [class.error]='title.invalid && title.touched' />
                <div *ngIf='title.touched'>
                    <div *ngIf='title.invalid'>
                        <small class='text-danger' *ngIf='title.errors?.required'>
              Title is required
            </small>
                        <small class='text-danger' *ngIf='title.errors?.pattern'>
              title should consist of only alphabets
            </small>
                    </div>
                </div>
                <!-- <div>{{title.className}}</div> -->
            </div>
            <div class="form-group" align="center">
                <input type="text" class="form-control" placeholder="Enter the descitpion" [(ngModel)]='blog.description' name='desc' #desc='ngModel' minlength="10" [class.error]='desc.invalid && desc.touched' required />
                <div *ngIf='desc.touched'>
                    <div *ngIf='desc.invalid'>
                        <small class='text-danger' *ngIf='desc.errors?.required'>
              Description is required
            </small>
                        <small class='text-danger' *ngIf='desc.errors?.minlength'>
              Description should be atleast 10 characters
            </small>
                    </div>
                </div>
            </div>
            <div class="form-group" align="center">
                <select style="width: 250px;" [class.error]='cat.invalid && cat.touched' class="form-control" [(ngModel)]='blog.category' name='category' (blur)='validate(cat.value)' (change)='validate(cat.value)' required #cat="ngModel" required [class.error]="cat.invalid && cat.touched && hasError">
                <option value="default">Select a Category</option>
                <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                </select>
                <small class="text-danger" [class.d-none]="cat.untouched || !hasError">
                 Please choose a Category</small>
            </div>
            <button type="submit" class="btn btn-secondary" [disabled]='blogform.form.invalid || hasError'>Create</button>
            <div *ngIf="showMsg">
                <p class="successmsg">Blogs added! Please check blogs list.</p>
            </div>
        </form>
    </div>
</div>