.card {
    height: 290px;
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: blanchedalmond;
}

button {
    height: 40px;
    width: 90px;
    font-size: 20px;
    padding: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.error {
    border-left: 5px solid red;
}

.successmsg {
    padding-top: 10px;
    color: green;
    font-size: x-large;
}

.head {
    padding-top: 50px;
}

.card-title {
    padding: 10px;
}