#blog {
    margin: 20px;
    transition: 1s ease all;
}

p {
    color: darkmagenta;
    font-weight: bold;
    padding-left: 1.5px;
}

.personal {
    border: 2px solid crimson;
}

.nature {
    border: 2px solid rgb(7, 145, 26);
}

.politics {
    border: 2px solid blue;
}

.technical {
    border: 2px solid black;
}