<div id='blog' style="padding: auto; width: 90%;">
    <h4> {{blog.category | uppercase}}</h4>
    <h2>{{blog.title}} </h2>
    <p>{{blog.description}}</p>
    <small>Created on : {{blog.date}}</small>
</div>