<div style="padding-top: 30px;">
    <div class="card card-block container text-center" style="background-color: blanchedalmond;">
        <h4 class="card-title">Edit Blog</h4>

        <form #blogform='ngForm' (ngSubmit)='onSubmit()'>
            <div class="form-group">
                <input type="text" class="form-control" required [(ngModel)]='blog.title' name='title' #title='ngModel' pattern="^[A-Za-z\s.]+$" [class.is-invalid]='title.invalid && title.touched' />
                <div *ngIf='title.touched'>
                    <div *ngIf='title.invalid'>
                        <small class='text-danger' *ngIf='title.errors?.required'>
                            Title is required
                        </small>
                        <small class='text-danger' *ngIf='title.errors?.pattern'>
                            title should consist of only alphabets
                        </small>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter the descitpion" [(ngModel)]='blog.description' name='desc' #desc='ngModel' minlength="10" [class.is-invalid]='desc.invalid && desc.touched' required />
                <div *ngIf='desc.touched'>
                    <div *ngIf='desc.invalid'>
                        <small class='text-danger' *ngIf='desc.errors?.required'>
                            Description is required
                        </small>
                        <small class='text-danger' *ngIf='desc.errors?.minlength'>
                            Description should be atleast 10 characters
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select [(ngModel)]='blog.category' name='category' (blur)='validate(cat.value)' (change)='validate(cat.value)' required #cat="ngModel" required [class.is-invalid]="cat.invalid && cat.touched && hasError">
                    <option value="default">Select a Category</option>
                    <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                </select>
                <small class="text-danger" [class.d-none]="cat.untouched || !hasError">
                    Please choose a Category</small>
            </div>

            <button type="submit" class="btn btn-secondary" [disabled]='blogform.form.invalid || hasError'>Update</button>
        </form>
    </div>
</div>